@use '../colors';
@use '../screen';


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 3px 10px;

    h1 {
        font-weight: bold;

    }

    .theme_select {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid rgb(131, 129, 129);
        padding: 2px;
        cursor: pointer;

        .sub_theme {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .theme_options {
        border: none;
        
        .sub_theme {
            outline: none;
            border: none;
        }

        &:hover, &:has(.sub_theme:focus) {
            border: 1px solid rgb(131, 129, 129);
        }
    }

    .image_header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .nav_image {
        width: 100px;
        margin-bottom: -20px;
    }

    .search_bar {
        display: flex;
        height: 40px;
        border-radius: 25px;
        padding: 7px;
        border: 1.5px solid rgb(180, 179, 179);
        justify-content: center;
        align-items: center;
        box-shadow: 2px 1px 1px rgb(185, 185, 185);

        input {
            border:  none;
            outline: none;
            width: 300px;
            height: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        img {
            height: 100%;
            width: 30px;
            border-radius: 15px;
            padding: 6px;
        }
    }

    .modalContainer {
        min-width: 20%;
        //width: 25%;
        //flex-direction: column;
        

        h1 {
            font-weight: bold;
            margin-top: 10px;
        }

        .modalContent {
            border-radius: 20px;
            gap: 15px;
            align-items: center;

            .themes {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                padding: 30px;
                display: flex;
                justify-content: center;
                gap: 20px;
                background-color: rgb(196, 194, 194);
                width: 100%;
            }

            .default_color {
                background-color: colors.$default-theme;
            }

            .blue_color {
                background-color: colors.$blue-theme;
            }

            .orange_color {
                background-color: colors.$orange-theme;
            }
        }
    }

    @media (max-width: screen.$breakpoint) {

        & {
            width: 100%;
            justify-content: space-around;
            margin-left: 0;
            margin-right: 0;
            margin-left: 0;
            margin-right: 0;
        }

        .search_bar {
            padding: 4px;
            justify-content: flex-start;
            width: 30%;
            input {
                width: 80%;
                //background-color: green;
            }

            img {
                width: 20px;
                padding: 1px;
                //background-color: blue;
                justify-self: flex-start;
            }
        }

        .image_header {
            width: 30%;
        }

        .nav_image {
            width: 10vw;
        }

        h1 {
            font-size: 12pt;
        }
    }
}