.modalContainer {
    left: 35vw;
    background-color: yellow;
    //height: 95vh;
}

.modalBackdrop {
    left: 0;
    //background-color: green;
}

.modalContent {
    left: 0;
    //background-color: blue;
}