@use '../colors';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    gap: 20px;

    .home_img {
        width: 200px;
    }

    h1 {
        font-weight: bold;
        font-size: 22pt;
    }

    p {
        width: 30%;
    }

    a {
        text-decoration: underline;
        font-size: 14pt;
        font-weight: bold;
        color: rgb(83, 82, 82);
    }

    .search_bar {
        display: flex;
        border-radius: 25px;
        padding: 5px;
        border: 1px solid;
        justify-content: center;
        align-items: center;

        input {
            border:  none;
            outline: none;
            width: 300px;
            height: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: colors.$general-bg-color;
        }

        img {
            height: 100%;
            border-radius: 15px;
            padding: 6px;
        }
    }
}