@use '../screen';

.container {

    .poke_list {
        margin: 40px 5%;
        display: flex;
        gap: 3%;
        justify-content: space-between;
        flex-wrap: wrap;

        &:has(.loading) {
            min-height: 70vh;
            justify-content: center;
            align-items: center;
        }
    }

    .page_details {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
    }

    @media (max-width: screen.$breakpoint) {
        .poke_list {
            margin: 40px 2%;
            justify-content: center;
        }
    }
}