.container {

    .poke_list {
        margin: 40px 5%;
        display: flex;
        gap: 3%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .page_details {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
    }
}